@page "/counter"

<h1>Counter</h1>

<Alert>
    Current count: @currentCount
</Alert>

<Progress Value="@currentCount" Color="Color.Success" IsStriped="true" />

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>

<Jumbotron>
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <BlazorButton Color=Color.Primary Size=Size.Large>Learn more</BlazorButton>
</Jumbotron>

@functions {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }
}