@page "/synctextbox"

<p>エンターを押した時点で出力側が更新</p>
<p>
    入力1
    <input type="text" oninput="@(ui=> { Text2 = (string)ui.Value; })" value="@Text2" />
</p>
<p>
    出力1
    <input type="text" oninput="@(ui=> { Text2 = (string)ui.Value; })" value="@Text2" />
</p>


@functions{
    string Text2 { get; set; }
}